<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myAI.myAI.mapper.OperationLogMapper">

    <resultMap id="BaseResultMap" type="com.myAI.myAI.models.entity.OperationLog">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="operationType" column="operation_type" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="success" column="success" jdbcType="BOOLEAN"/>
        <result property="ipAddress" column="ip_address" jdbcType="VARCHAR"/>
        <result property="operationTime" column="operation_time" jdbcType="TIMESTAMP"/>
        <result property="businessId" column="business_id" jdbcType="VARCHAR"/>
        <result property="requestParams" column="request_params" jdbcType="VARCHAR"/>
        <result property="errorMessage" column="error_message" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,operation_type,
        description,success,ip_address,
        operation_time,business_id,request_params,
        error_message,create_time,update_time,
        is_deleted
    </sql>
</mapper> 